.cart-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 40%;
  border-right: solid 1px #D9D9D9;
  padding: 4em 2em 0 2em;
  font-size: 1.5em;
  overflow: scroll;
}

.card-container{
  width: 100%;
}

.cart-card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.total-container{
  width: 100%;
  white-space: nowrap;
}

#total{
  background-color: #4C53E3;
  width: 100%;
  color: white;
  margin: 0;
  padding: 0 1em 0 1em;
  position: relative;
  left: -1em;
}

#total-promotion{
  color: #b9b9b9;
  width: 100%;
  margin: 0;
  font-style: italic;
  border-top: solid 1px #D9D9D9;
  padding: 1em 0 1em 0;
}

#quantity{
  width: 20%;
}

#name{
  width: 55%;
}

#buttons{
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
}

#delete-cart-product{
  margin-right: 0.5em;
}

#items{
  display: flex;
  justify-content: space-between;
}

.button{
  cursor: pointer;
}

.promotion{
  font-size: 0.75em;
  color: #D9D9D9;
  font-weight: bold;
}

.cart-details{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.bottom-border{
  border-bottom: solid 1px #D9D9D9;
}

.cart-promotion{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}
